div{ background-color: rgb(130, 204, 221);
    border: 10px solid rgb(60, 99, 130);
    color: rgb(10, 61, 98) ;
    padding:10px;
    margin:50px;
    width: 300;
 }
 img{ width: 100px;
height:100px;
    display: block;
margin: 10px auto;
border: 3px solid white;
border-radius: 50%;}
h1{text-align: center;
    text-shadow: 3px 3px 2px;
}
input{
color:rgb(10, 61, 98);
background-color: rgb(96, 163, 188);
cursor: pointer;}