table,th,td{
    border: 1px solid rgb(87, 75, 144);
    border-collapse: collapse;
    width:50px;
    height: 50px;
    font-size: large;
    padding: 10px;
    margin: 50px;
    text-align: center;
}
tr:nth-child(even){
    background-color: #786fa6;
}
th{background-color: #f78fb3;
font-size: 20px;}
caption{font-size: 30px;
padding: 20px;
border: 10px solid #574b90;
background-color: #574b90;
}
tr:hover{ background-color: #f8a5c2;}
#list{color:#786fa6 ;}
ul{ list-style-type:square;
font-size: 20px;
color:#c44569 ;
padding: 20px;
margin: 10px;}
i{display: inline;
color: #574b90;}
#label{font-size: 40px;
color: #c44569;}
a{text-decoration: none;
font-size: 30px;
color:white;
background-color: #786fa6;
border-radius: 20px;
padding: 10px;
display: inline-block;
}
a:hover{color: #c44569;}